{% extends "base.html" %}

{% block title %}
Register
{% endblock title %}

{% block content %}

<article class="contact-us" id="contact">
    <h2 class="contact-hd">Register</h2>
    <section class="contac-form">
        <!-- <h4 class="hd-4">Please fill the form below to contact us </h4> -->

        <form class="form" action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="username" id="fullname" placeholder="User Name" required autocomplete="on">
            </p>
            <p>
                <input type="email" name="email" id="fullname" placeholder="Email" required autocomplete="on">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password" required autocomplete="on">
            </p>
            <p>
                <input type="password" name="password1" placeholder="Confirm Password" required autocomplete="on">
            </p>
            <div style="margin-top: 10px;">
                <small>Have an accounts already? login <a  href="{% url 'accounts:login' %}">here</a></small>
            </div>
            <p>
                <button type="submit">Register</button>
            </p>
        </form>
    </section>
</article>
{% endblock content %}