{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<main>
    <article>
        <section class="banner"
            style="background-image:url('https://www.shutterstock.com/image-photo/luxury-table-setting-260nw-632155661.jpg');">
            <div class="banner-header">
                <h2>
                    Wants to plan your event? <br> <span class="h-color"><a href="{% url 'control:create_event'%}"
                            style="text-decoration: none; color: white;">Get Started</a></span>
                </h2>
            </div>
        </section>
    </article>

    <article>
        <section class="activity-section" id="activities">
            <!-- <h2>Our Avtivities</h2> -->
            <div class="boxes">
                <div class="box">
                    <img src="" alt="">
                    <h3>Plan Your Perfect Event</h3>
                    <p>Discover the easiest way to organize and manage all your events. From corporate conferences to personal parties, we’ve got you covered with seamless planning and execution.</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h3>Seamless Scheduling</h3>
                    <p>Stay on top of your schedule with our intuitive calendar. Mark important dates, set reminders, and never miss a beat as you prepare for your big event.</p>
                </div>
                <div class="box">
                    <img src="" alt="">
                    <h3>Effortless Coordination</h3>
                    <p>Coordinate with your team and vendors effortlessly. Communicate in real-time, share updates, and ensure everyone is on the same page to make your event a success.</p>
                </div>
                <a href="{% url 'main:initiate_auth' %}">Create Event</a>
            </div>
        </section>
    </article>
</main>
{% endblock content %}