{% extends "base.html" %}

{% block title %}
Create Budget
{% endblock title %}

{% block content %}

<article class="contact-us" id="contact">
    <h2 class="contact-hd">Create Budget</h2>
    <section class="contac-form">
        <form class="form" action="{% url 'control:create_budget' event %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <input type="number" name="venue" placeholder="Cost of venue" autocomplete="on">
            </p>
            <p>
                <input type="number" name="org-cost" placeholder="Organizational cost" autocomplete="on">
            </p>
            <p>
                <input type="number" name="guest-num" placeholder="Number of expected guest" autocomplete="on">
            </p>
            <p>
                <input type="number" name="security" placeholder="Cost of security" autocomplete="on">
            </p>
            <p>
                <input type="number" name="meals" placeholder="Cost os refreshemt" autocomplete="on">
            </p>
            <p>
                <input type="number" name="transport" placeholder="Transport cost">
            </p>
            <p>
                <input type="number" name="misc" placeholder="Misc cost" autocomplete="on">
            </p>
            <p>
                <button type="submit">Create Budget</button>
            </p>
        </form>
    </section>
</article>
{% endblock content %}