{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

<div class="user-nav">
    <section class="options">
        <a href="{% url 'control:dashboard' %}">My Events</a>
        <a href="{% url 'control:create_event' %}">Create Event</a>
        <a href="{% url 'control:notifications' %}">Notifications</a>
    </section>
</div>
{% for event in events %}
<section class="notification">
    <p><b>{{event.title}} | {{event.date}} | {{ event.time }}</b></p>
    <a href="{% url 'control:event_details' event.title %}">Detail</a>
</section>
{% endfor %}

{% endblock content %}