{% extends "base.html" %}

{% block title %}
Create Event
{% endblock title %}

{% block content %}


<article class="contact-us" id="contact">
    <h2 class="contact-hd">Edit Event: {{event.title }}</h2>
    <section class="contac-form">
        <h4 class="hd-4">Please fill the form below to edit event</h4>

        <form class="form" action="{% url 'control:edit_event' event.title %}" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <label for="title">Event Title:</label>
                <input type="text" name="title" id="title" placeholder="Event title" required autocomplete="on" value="{{event.title|safe}}">
            </p>
            <p>
                <label for="description">Description:</label>
                <input type="text" name="description" id="description" placeholder="Description of event" required autocomplete="on" value="{{event.description|safe}}">
            </p>
            <p>
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" placeholder="Location of event" required autocomplete="on" value="{{event.location|safe}}">
            </p>
            <p>
                <label for="price">Price:</label>
                <input type="number" name="price" id="price" placeholder="Price of RSVP" required autocomplete="on" value="{{event.price_tag}}">
            </p>
            <p>
                <label for="image">Image:</label>
                <input type="file" name="image" id="image" accept="image/*">
            </p>
            <p>
                <label for="start_date">Start Date:</label>
                <input type="date" name="start_date" id="start_date" placeholder="Start date of event" required autocomplete="on" value="{{event.start_date|date:'Y-m-d'}}">
            </p>
            <p>
                <label for="start_time">Start Time:</label>
                <input type="time" name="start_time" id="start_time" placeholder="Start time of event" required autocomplete="on" value="{{event.start_time|time:'h:i'}}">
            </p>
            <p>
                <label for="end_date">End Date:</label>
                <input type="date" name="end_date" id="end_date" placeholder="End date of event" required autocomplete="on" value="{{event.end_date|date:'Y-m-d'}}">
            </p>
            <p>
                <label for="end_time">End Time:</label>
                <input type="time" name="end_time" id="end_time" placeholder="Closing time of event" required autocomplete="on" value="{{event.end_time|time:'h:i'}}">
            </p>
            <p>
                <label for="duration">Duration:</label>
                <input type="number" name="duration" id="duration" placeholder="Duration of the event" value="{{event.duration}}" required>
            </p>
            <textarea name="details" id="message" cols="30" rows="10" required>{{event.details|safe}}</textarea>
            <br />
            <p>
                <button type="submit">Save Changes</button>
            </p>
        </form>
    </section>
</article>

{% endblock content %}