{% extends "base.html" %}

{% block title %}
Create Event
{% endblock title %}

{% block content %}


<article class="contact-us" id="contact">
    <h2 class="contact-hd">Create Event</h2>
    <section class="contac-form">
        <h4 class="hd-4">Please fill the form below to create an event</h4>

        <form class="form" action="{% url 'control:create_event' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <input type="text" name="title" placeholder="Event title" required autocomplete="on">
            </p>
            <p>
                <input type="text" name="description" placeholder="Description of event" required autocomplete="on">
            </p>
            <p>
                <input type="text" name="location" placeholder="Location of event" required autocomplete="on">
            </p>
            <p>
                <input type="number" name="price" placeholder="Price of RSVP" required autocomplete="on">
            </p>
            <p>
                <input type="file" name="image" accept="image/*">
            </p>
            <p>
                <input type="date" name="date" placeholder="Date of event" required autocomplete="on">
            </p>
            <p>
                <input type="time" name="time" placeholder="time of event" required autocomplete="on">
            </p>
            <textarea name="details" id="message" cols="30" rows="10"></textarea>
            <br />
            <p>
                <button type="submit">Create Event</button>
            </p>
        </form>
    </section>
</article>

{% endblock content %}