{% extends "base.html" %}

{% block title %}
Details of {{event.title}}
{% endblock title %}

{% block content %}

<section class="main">
    {% include "control/inner_nav.html" %}

    <section class="eventdetails">
        <center>
            <h3>Event breakdown</h3>
        </center>
        <br>
        <table class="table">
            <tr>
                <td><b>Event</b></td>
                <td>{{event.title}}</td>
            </tr>
            <tr>
                <td><b>Start Date</b></td>
                <td>{{event.start_date}}</td>
            </tr>
            <tr>
                <td><b>Start Time</b></td>
                <td>{{event.start_time}}</td>
            </tr>
            <tr>
                <td><b>Clossing Date</b></td>
                <td>{{event.end_date}}</td>
            </tr>
            <tr>
                <td><b>Clossing Time</b></td>
                <td>{{event.end_time}}</td>
            </tr>
            <tr>
                <td><b>Location</b></td>
                <td>{{event.location}}</td>
            </tr>
            <tr>
                <td><b>Attendees</b></td>
                <td>{{attendants}} Guests</td>
            </tr>

        </table> <br>

        <a class="edit-btn" href="{% url 'control:edit_event' event.title %}">edit</a>
        <a class="del-btn" href="{% url 'control:delete_event' event.title %}">delete</a>
        <br> <br>
        <center>
            <h3>Budget</h3>
        </center>
        <table class="table">
            <tr>
                <td><b>Total Estimated cost</b></td>
                <td>GHS {{budget.total_cost}}</td>
            </tr>
            <tr>
                <td><b>Amount from ticket sales</b></td>
                <td>GHS {{total}}</td>
            </tr>
        </table> <br>
        <a class="edit-btn" href="{% url 'control:edit_budget' budget.id %}">edit</a>

    </section>

    {% endblock content %}