{% extends "base.html" %}

{% block title %}
Guest List
{% endblock title %}

{% block content %}
<style>
    .table {
        width: 80%;
        margin: auto;
    }
    .t-headers {
        background-color: #f2f2f2;
    }
    .t-body {
        background-color: #f9f9f9;
    }
    .table td {
        padding: 10px;

    }
    .t-hd {
        padding: 10px;
    }
</style>

<section class="main">
    {% include "control/inner_nav.html" %}
    <section class="eventdetails">
        <center>
            <h4>
                Guest list for <i>{{event.title}}</i>
            </h4>
        </center>
        <br>
        <table class="table">
            <thead class="t-headers">
                <tr class="t-hd-row">
                    <th class="t-hd">Name</th>
                    <th class="t-hd">Number of tickets</th>
                    <th class="t-hd">Amount</th>
                </tr>
            </thead>
            <tbody class="t-body">
                {% for guest in guests %}
                <tr>
                    <td class="t-td">{{guest.name}}</td>
                    <td class="t-td">{{guest.tickets}}</td>
                    <td class="t-td">{{guest.total_cost}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table> 
    </section>

    {% endblock content %}