* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Global styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar section */
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-header>a {
    font-weight: 800;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    color: #ff8d02;
    margin-left: 1rem;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    padding: 1rem;
}

.navbar-links a:hover {
    color: #ff4400;
}

.navbar-toggle {
    display: none;
}

/* Control nav */
.user-nav {
    background-color: rgba(214, 213, 208, 0.486);
    display: flex;
    flex-wrap: wrap;
    height: 3em;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 3px solid rgba(171, 177, 163, 0.219);
}

.user-nav a {
    color: black;
    text-decoration: none;
    margin: 0.4rem;
}

.user-nav a:hover {
    color: #a77b0d;
}

.notification {
    border: 1px solid rgba(207, 187, 187, 0.651);
    padding: 1rem;
    margin: 2rem 1rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.eventdetails {
    border: 1px solid rgba(207, 187, 187, 0.651);
    padding: 0.75rem;
    margin: 2rem 1rem;
    height: auto;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.edit-btn {
    background-color: #96b9b9;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.del-btn {
    background-color: #821f20;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.notification a {
    border: 1px solid tomato;
    padding: 0.3rem 0.3rem;
    border-radius: 10%;
    color: black;
    text-decoration: none;
    height: 5vh;
    margin: 0 0 0 1rem;
}

.notification button:hover {
    color: #a77b0d;
}

.table {
    justify-content: space-evenly;
}

/* Banner section */
.banner {
    margin: 2.5rem;
    min-height: 80vh;
    padding: 1rem;
    border-radius: 10px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-header {
    max-width: 50%;
    color: #fff;
    font-style: oblique;
    text-align: left;
    font-size: 2.8rem;
    justify-content: center;
}

.h-color {
    background-color: hsla(0, 100%, 50%, 0.596);
    color: white;
    padding: 0.25rem;
    border-radius: 10px;
}

/* Activity section */
.activity-section {
    padding: 1rem;
    margin: 2rem 1rem;
}

.activity-section h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    max-width: 400px;
    border-radius: 1rem;
    background-color: hsla(208, 100%, 97%, 0.349);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
    margin: 1rem;
}

.box:hover {
    background-color: hsla(208, 100%, 97%, 0.349);
    box-shadow: 3px 3px 3px 3px rgba(255, 116, 9, 0.624);
}

/* About section */
.about-section {
    margin: 2rem 4rem;
    padding: 1rem;
    min-height: 50vh;
    display: flow-root;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px gainsboro;
    background-color: rgba(255, 243, 204, 0.275);
}

.about-section h2 {
    text-align: center;
    padding: 1rem;
    font-weight: 800;
    font-size: 2rem;
}

.about-section img {
    max-width: 60%;
    border-radius: 5%;
    float: left;
    display: flow-root;
    margin: 2rem 1rem;
    outline: 5px solid gainsboro;
    outline-offset: 0.25rem;
}

.about-section p {
    justify-content: center;
    margin: 2rem auto;
}

.attend-btn {
    background-color: tomato;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 48%;
}

/* Mission section */
.mission {
    display: flex;
    flex-wrap: wrap;
}

.mission-content {
    border-radius: 5%;
    padding: 1rem;
    display: inline-block;
    min-height: 32vh;
    max-width: 29vw;
    margin: 1rem;
    background-color: rgba(217, 208, 196, 0.173);
    box-shadow: 2px 2px 2px 2px rgba(255, 222, 173, 0.938);
    text-align: center;
}

.ms-hd {
    margin-top: 7rem;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
}

.mission-content:hover {
    background-color: aliceblue;
    box-shadow: 3px 3px 3px 3px rgba(255, 116, 9, 0.624);
}

.mission-content img {
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: 0.5rem auto;
}

.mission-content p a {
    text-decoration: none;
    color: black;
}

.mission-content p {
    float: left;
}

/* Vision section */
.vision {
    margin-top: 3rem;
}

.hd {
    padding: 0.5rem;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

.vision-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(217, 208, 196, 0.173);
    box-shadow: 2px 2px 2px 2px rgba(255, 222, 173, 0.938);
    margin: 3rem 5rem;
    border-radius: 5%;
}

.content-text {
    width: 60%;
    padding: 0.25rem;
    text-align: center;
    margin: 1rem auto;
}

.vision-content img {
    width: 40vw;
    height: 40vh;
    border-radius: 7%;
    margin: 1rem auto;
}

/* Contact section */
.contact-us {
    margin: 8rem auto;
    max-width: 60%;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: 2px 3px 2px 3px #ccc;
    border-radius: 1rem;
}

.contact-hd {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.hd-4 {
    text-align: center;
}

.form input,
.form textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.25rem auto;
    height: 6vh;
    border-radius: 1rem;
    border: 1.5px solid #dedede;
}

.form input:hover,
.form input:focus,
.form textarea:hover {
    border: 1.25px solid tomato;
}

.form button {
    width: 100%;
    height: 5.7vh;
    border: 0px solid lightcoral;
    color: #fff;
    border-radius: 5rem;
    font-size: 1.25rem;
    margin-top: 1rem;
    background-color: tomato;
    position: fixed;
    bottom: 0;
    height: 50px;
}

.form button:hover {
    background-color: #a9d0f3;
    color: black;
}

/* Footer section */
.footer {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000;
    margin: 0;
    height: 50px;
}

.section {
    margin: 1rem;
}

.section h2 {
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-bottom: 0.5rem;
}

.section ul li {
    list-style: none;
}

.section ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

.section ul li a:hover {
    color: tomato;
}

.newsletter form input {
    width: 100%;
    height: 5vh;
    border-radius: 1rem;
    padding: 1rem;
}

.newsletter form button {
    width: 50%;
    height: 5vh;
    border: 0px solid lightcoral;
    color: #fff;
    border-radius: 5rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    background-color: tomato;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
    }

    .navbar-toggle {
        display: inherit;
        text-align: right;
        padding: 1rem;
    }

    .navbar-toggle:hover {
        color: #fff;
    }

    .navbar.active .navbar-links {
        display: flex;
    }

    .navbar a:hover,
    .navbar a:active {
        color: tomato;
    }

    .icon {
        font-size: 24px;
        color: #fff;
        border-radius: 12px;
        background-color: tomato;
        padding: 0.5rem 1rem;
    }

    .icon:hover {
        color: #000;
        background-color: rgba(252, 207, 199, 0.658);
    }

    .navbar.active .navbar-links {
        display: flex;
    }

    .navbar-header {
        font-size: 1.2rem;
    }

    /* Banner section */
    .banner {
        margin: 1rem;
        min-height: 80vh;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-header {
        font-size: 1.8rem;
    }

    /* Activity section */
    .activity-section {
        padding: 0;
    }

    /* Mission section */
    .mission {
        margin: 1rem auto;
        padding: 0;
    }

    .ms-hd {
        font-size: 2rem;
        text-align: center;
    }

    /* Vision section */
    .vision {
        margin: 4rem auto;
        padding: 0;
    }

    .hd {
        padding: 0.5rem;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
    }

    .vision-content {
        display: block;
        margin: 1rem 1.5rem;
        padding: 1rem;
    }

    .vision-content img {
        width: 90%;
    }

    .content-text {
        min-width: 80%;
        padding: 0.25rem;
        text-align: center;
        margin: 1rem auto;
    }

    /* Contact section */
    .contact-us {
        margin: 5rem auto;
        max-width: 90%;
    }

    .contact-hd {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem;
    }

    .hd-4 {
        text-align: center;
    }

    /* Footer section */
    .footer {
        height: 60vh;
    }
}

@media screen and (max-width: 500px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
    }

    .navbar-toggle {
        display: inherit;
        text-align: right;
        padding: 1rem;
    }

    .navbar-toggle:hover {
        color: #fff;
    }

    .navbar.active .navbar-links {
        display: flex;
    }

    .navbar a:hover,
    .navbar a:active {
        color: tomato;
    }

    .icon {
        font-size: 24px;
        color: #fff;
        border-radius: 12px;
        background-color: tomato;
        padding: 0.5rem 1rem;
    }

    .icon:hover {
        color: #000;
        background-color: rgba(252, 207, 199, 0.658);
    }

    .navbar.active .navbar-links {
        display: flex;
    }

    .navbar-header {
        font-size: 1.2rem;
    }

    /* Banner section */
    .banner {
        margin: 1rem;
        min-height: 50vh;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .banner-header {
        font-size: 1.25rem;
    }

    /* Activity section */
    .activity-section {
        padding: 0;
        margin: 1rem;
    }

    /* Mission section */
    .mission {
        margin: 1rem auto;
        padding: 0;
    }

    .ms-hd {
        font-size: 2rem;
        text-align: center;
    }

    /* Vision section */
    .vision {
        margin: 4rem auto;
        padding: 0;
    }

    .hd {
        padding: 0.5rem;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
    }

    .vision-content {
        display: block;
        margin: 1rem 1.5rem;
        padding: 1rem;
    }

    .vision-content img {
        width: 90%;
    }

    .content-text {
        min-width: 80%;
        padding: 0.25rem;
        text-align: center;
        margin: 1rem auto;
    }

    /* Contact section */
    .contact-us {
        margin: 5rem auto;
        max-width: 90%;
    }

    .contact-hd {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem;
    }

    .hd-4 {
        text-align: center;
    }

    /* Footer section */
    .footer {
        height: 60vh;
    }
}
